body {
  background-color: #f9fafc;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  color: #69696a;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h3 {
  margin: 0 0 10px 0;
}

li {
  padding: 5px 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a.button {
  background-color: #000;
  border: none;
  border-radius: 25px;
  color: #fff;
  display: block;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

.nav-btn {
  margin-top: 10px;
}

.cta-btn {
  margin: 15px 0;
}

footer {
  display: flex;
  background-color: rgba(247, 193, 162, 0.7);
  bottom: 0;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
}

header {
  margin: 25px;
}

nav {
  width: 100%;
  padding: 0;
}

.company-name {
  align-items: center;
  display: flex;
  padding: 0 15px;
  width: 100%;
}

.description {
  border-left: 5px solid #69696a;
  color: #69696a;
  padding: 5px 15px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
  width: 100%;
}

.links {
  padding-left: 15px;
}

.main {
  margin: 25px;
}
